/**/
$bg-color:red;
$color:#fff;

/*header*/
$header-background-color:blue ;
$header-font-color:blue ;

/*button*/
$button-border-color:blue ;
$button-light-color:blue ;
$button-dark-color:blue ;
$button-shadow-color:blue ;

/*grid*/
